/node_modules
/public/hot
/public/storage

# Ignore assets that are built
/public/css
/public/js
/public/images/vendor
/public/fonts
/public/mix-manifest.json

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.DS_Store
